* {
  font-family: "olivia";
}

body {
  margin: 0;
  padding: 0;
  background-image: url("fond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  cursor: url("sourisblanche.png"), auto;
}

.logo {
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  max-height: 300px;
  font-weight: bold;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  text-decoration: underline;
}
main {
  height: 60vh;
  margin: 5%;
}
.box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.box a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
  text-decoration: none;
  place-self: start center;
  width: 70%;
  height: 20%;
  font-weight: bold;
  font-size: 1vw;
  margin-bottom: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  transition: background-color 0.3s;
}
.para {
  grid-column: 3/4;
  grid-row: 2/4;
  place-self: center;
  width: 60%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 0.8vw;
  margin-left: 20%;
  margin-top: 20%;
  z-index: 4;
}
.fond {
  grid-column: 3/4;
  grid-row: 2/4;
  z-index: 2;
  place-self: center;
  margin-left: 20%;
  margin-top: 10%;
  width: 70%;
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  .header {
    font-size: 0.6rem;
    gap: 4%;
  }
  .logo {
    width: 20%;
    height: auto;
  }
  .button {
    padding: 10px;
  }
}
@font-face {
  font-family: "olivia";
  src: url("font/NeverMind/NeverMind-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "olivia";
  src: url("font/NeverMind/NeverMind-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
