* {
  font-family: "olivia";
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-image: url("fond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: url("sourisblanche.png"), auto;
}
.contenu {
  min-height: 100%;
  position: relative;
}
.logo {
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  max-height: 300px;
  font-weight: bold;
  margin-bottom: 2%;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  text-decoration: underline;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  text-decoration: none;
}
.linkP {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
}
.linkP:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
footer {
  width: 80%;
  height: 60%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.arbre {
  margin-top: 55%;
  width: 100%; /* Empêche l'image de dépasser la largeur du conteneur */
  height: auto;
  place-self: center end;
  align-self: end; /* Pour le positionner en bas */
  justify-self: center; /* Pour le centrer horizontalement */
  grid-column: 3/ 4;
  grid-row: 3 / 4;
  margin-bottom: 0;
}
@media screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  .header {
    font-size: 0.6rem;
    gap: 4%;
  }
  .logo {
    width: 20%;
    height: auto;
  }
  .arbre {
    grid-column: 1/4;
    grid-row: 1/4;
  }
}
@font-face {
  font-family: "olivia";
  src: url("font/NeverMind/NeverMind-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "olivia";
  src: url("font/NeverMind/NeverMind-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
