* {
  font-family: "olivia";
}

body {
  margin: 0;
  padding: 0;

  background-image: url("fond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  cursor: url("sourisblanche.png"), auto;
}

.logo {
  transition: transform 0.5s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  max-height: 300px;
  font-weight: bold;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  text-decoration: underline;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  font-size: 1.3rem;
}
.button {
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 10px;
  transition: background-color 0.3s;
}
.box p {
  color: white;
}

.box a:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  .header {
    font-size: 0.6rem;
    gap: 4%;
  }
  .logo {
    width: 20%;
    height: auto;
  }

  .box {
    font-size: 0.9rem;
    width: 50%;
  }
  .button {
    padding: 10px;
  }
}
@font-face {
  font-family: "olivia";
  src: url("font/NeverMind/NeverMind-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "olivia";
  src: url("font/NeverMind/NeverMind-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
