* {
  font-family: "olivia";
}
body {
  margin: 0;
  padding: 0;

  cursor: url("../sourisnoir.png"), auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  max-height: 300px;
  font-weight: bold;
}
.logo {
  transition: transform 0.5s ease-in-out;
}
.logo:hover {
  transform: scale(1.1);
}

.logo img {
  height: 50px;
}
.header a {
  text-decoration: none;
  color: rgb(13, 12, 12);
}
.header a:hover {
  text-decoration: underline;
}

/* Contenu principal */
main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 5%;
}

/* Paragraphe */

.container1 {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  place-items: center;
  place-content: center;
}
.container2 {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  place-items: center;
  place-content: center;
}
.titre {
  text-align: center;
}

.color-image {
  width: 120%;
  z-index: 0;
}
.anim-image {
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
.anim-image:hover {
  transform: scale(0.8) rotate(25deg);
}
.essaie {
  display: grid;
  grid-gap: 5%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}
.test1,
.test2 {
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: center;
}
.para {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 6%;
  font-size: 0.8rem;
}
.bugparking {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  * {
    text-align: center;
  }
  .header {
    font-size: 0.6rem;
  }
  .logo {
    width: 90%;
    height: auto;
  }
  .para {
    width: 80%;
    padding: 5%;
  }
}

@font-face {
  font-family: "olivia";
  src: url("../font/NeverMind/NeverMind-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "olivia";
  src: url("../font/NeverMind/NeverMind-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
